.agenda-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 5px;

  .view-type-button {
    position: absolute;
    right: 59px;
    top: -106px;
    color: #797071;
    font-size: 22px;
    cursor: pointer;
    z-index: 99999;

    svg {
      position: fixed;
    }
  }

  flex: 1 0 50%;

  .item {
    position: relative;
    display: block;
    flex: 1 0 21%;
    justify-content: center;
    font-size: 16px;
    padding: 1px;
    background-color: #b9b8b7;
    min-width: 100px;
    height: auto;
    margin: 2px 1px 10px 1px;
    text-align: center;
    cursor: move;

    .pd-left2x {
      padding-left: 20px !important;
    }

    .name {
      font-size: 17px;
      background-color: #adacac;
      padding: 5px 0 5px 0;
    }

    .spell {
      font-size: 15px;
    }

    .word-info {
      position: absolute;
      background-color: $bg-5;
      display: none;
      width: 122px;
      height: auto;
      padding: 5px;
      color: #fff;
      border: solid 1px #a0aec0;
      margin-top: 0;
      margin-left: 20px;
      font-size: 13px;
      word-break: break-word;
      z-index: 9999;
    }

    .show {
      display: block !important;
    }

    .action {
      .right {
        right: 0;
      }
      .right,
      .left {
        width: 20px;
        height: 100%;
        font-size: 17px;
        display: block;
        position: absolute;
        .box {
          position: relative;
          display: block;
          float: left;
          width: 100%;
          height: 40px;
          cursor: pointer;

          svg {
            font-size: 12px;
            margin: 3px auto;
          }
        }

        .info {
          color: #7a6d6d;
          background-color: #adacac;
          border-bottom: 1px solid #9d9d9d;
        }
        .delete {
          a {
            color: #7a6d6d;
          }
          background-color: #adacac;
        }

        .play {
          font-size: 11px;
        }

        .content {
          margin: 0 auto;
          width: 100%;
          height: 21px;
          cursor: pointer;
          line-height: 1;
        }

        .movup {
          background-color: #adacac;
          top: 60px;
          right: 2px;
          color: #6a5b5a;
          height: 25px;
        }

        .uk {
          color: #f1f1f1;
          background-color: #5da4bf;
        }

        .us {
          color: #f1f1f1;
          background-color: #bf6363;
        }
      }
    }

    .type {
      font-size: 15px;
    }
  }
}

.list {
  .item {
    flex: 1 0 50% !important;
  }
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 90%;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.modal__title {
  margin: 0 2rem 0 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.modal__content {
  flex-grow: 1;
  overflow-y: auto;
}

.modal__action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 1rem 0 0;
}

.modal__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
