.word-info-list {
	display: flex;
	flex-direction: column;

	.row-f {
		height: 40px;
		font-size: 17px;
		border-bottom: 4px solid #9f9f9f;
		background-color: #b9b8b7;
		width: 100%;
		display: flex;
		flex-direction: row;

		.item {
			padding: 5px 15px 5px 19px;
			justify-content: center;
			height: 100%;
			background-color: #b9b8b7;
			min-width: 60px;
			min-width: 50px;
			color: #7a6d6d;

			svg {
				height: 100%;
				width: 100%;
			}
		}

		.word-info {
			position: absolute;
			background-color: $bg-5;
			display: none;
			width: 122px;
			height: auto;
			padding: 5px;
			border: solid 1px #a0aec0;
			margin-top: -34px;
			margin-left: 32px;
			font-size: 13px;
			word-break: break-word;
			z-index: 9999;
		}

		.show {
			display: block !important;
		}

		.us {
			background-color: #bf6363;
			cursor: pointer;
		}

		.uk {
			background-color: #5da4bf;
			cursor: pointer;
		}

		.pronunciation-audio {
			color: #f1f1f1;
		}

		.local-meaning {
			background-color: #adacac;	
			cursor: pointer;
		}

		.play-audio {
			cursor: pointer;
		}

		.name {
			font-size: 16px;
			background-color: #adacac;
		}

		.word-action {
			color: #dddddd;
			margin-right: 0;
			background-color: #6db386;
			margin-left: auto;
			cursor: pointer;
			&:hover{
				background-color: #6fa581;

			}
		}
	}
}
