.search-area {
	padding: 10px;
	display: flex;
	flex-direction: row;

	.row {
		font-size: 17px;
		padding: 10px 10px 10px 15px;
		background-color: #8c807b;
		width: 100%;
	}

	input {
		background: #adacac;
		color: #6a5b5a;
		box-shadow: none !important;
		border: none;
		outline: 0;
		width: 100%;
		padding-left: 10px;

		:focus {
			outline-style: none;
			box-shadow: none;
			border-color: transparent;
			background-color: black;
			color: $white;
		}
	}

	button {
		width: 150px;
		margin-left: -20px;
		font-size: 20px;
		padding-left: 25px;
		background-color: #6db386;
		color: #dddddd;

		&:focus {
			outline-style: none;
			box-shadow: none;
			border-color: transparent;
			color: $white;
		}

		&:hover {
			background-color: #6fa581;
			color: #d6d6d6;
		}

		span {
			font-size: 14px;
		}
	}
}

.search-result {
	ul::-webkit-scrollbar {
		width: 10px;
	}

	ul::-webkit-scrollbar-track {
		background-color: #b1b0b0;
	}

	ul::-webkit-scrollbar-thumb {
		background-color: #9b9999;
	}

	ul {
		list-style: none;
		padding-left: 0;
		max-height: 300px;
		overflow: auto;

		a {
			text-decoration: none;
			color: #6a5b5a;
		}

		li {
			padding: 5px 0 5px 15px;
			background-color: #adacac;
			border-bottom: 1px solid #b5b5b5;
			position: relative;

			&:hover {
				background-color: #b9b8b7;
			}

			.score {
				color: #eeeeee;
				font-size: 10px;
				position: absolute;
				top: 8px;
				right: 6px;
			}
		}
	}
}
